.equipment
    h2.equipment__title.title.
        Медицинское оборудование <span class="color-gold">для лизинга</span>
    .equipment__list
        -
            var list = [
                {
                    img: '/images/content/equipment/1.png',
                    name: 'Chison QBit 7',
                    desc: 'Универсальный стационарный аппарат для всех видов УЗИ.',
                    price: ''
                },
                {
                    img: '/images/content/equipment/2.png',
                    name: 'Аппарат рентгеновский стоматологический панорамного типа PAPAYA 3D Plus (16x8), с цефалостатом',
                    desc: 'Аппарат рентгеновский стоматологический панорамного типа PAPAYA 3D Plus (16x8), с цефалостатом',
                    price: ''
                },
                {
                    img: '/images/content/equipment/3.png',
                    name: 'Philips ClearVue 550',
                    desc: 'Универсальный стационарный аппарат для всех видов УЗИ.',
                    price: ''
                },
                {
                    img: '/images/content/equipment/4.png',
                    name: 'Coral Air Стоматологическая установка (нижняя подача) для набора',
                    desc: 'Установка стоматологическая Coral Air с принадлежностями. Производства NUEVA FEDESA S.A.U. Испания',
                    price: ''
                },
                {
                    img: '/images/content/equipment/5.png',
                    name: 'Chison QBit 7',
                    desc: 'Универсальный стационарный аппарат для всех видов УЗИ.',
                    price: ''
                },
                {
                    img: '/images/content/equipment/6.png',
                    name: 'Хирургический микроскоп OP-DENT',
                    desc: 'Cтоматологический микроскоп OP-Dent, изготавливаемый компанией OPTOMIC.',
                    price: ''
                },
                {
                    img: '/images/content/equipment/7.png',
                    name: 'Fona XPan 3D Аппарат рентгеновский панорамный томографический цифровой 3D съемки с принадлежностями',
                    desc: 'Система стоматологическая рентгеновская цифровая панорамная томографическая FONA XPAN 3D',
                    price: ''
                },
                {
                    img: '/images/content/equipment/8.png',
                    name: 'Toshiba Aplio i900',
                    desc: 'Универсальный стационарный аппарат для всех видов УЗИ.',
                    price: ''
                },

            ];
        each i in list
            a(href="#" data-event="openCall").equipment__item.equipment-item
                span.equipment-item__wrap
                    span.equipment-item__img
                        img(src=i.img alt=i.name)
                    span.equipment-item__bottom
                        span.equipment-item__name= i.name
                        span.equipment-item__desc= i.desc
                        span.equipment-item__price= i.price
    .equipment__bottom
        //.equipment__txt.title.
        //    <span class="color-gold">И еще более 3 000 профессиональных,</span><br> медицинских оборудований
        a(href="#" data-event="openCall").equipment__btn.btn
            span Заказать оборудование
            <svg width="33" height="16" viewBox="0 0 33 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.4779 8.70711C32.8684 8.31659 32.8684 7.68342 32.4779 7.2929L26.1139 0.928934C25.7234 0.53841 25.0903 0.53841 24.6997 0.928934C24.3092 1.31946 24.3092 1.95262 24.6997 2.34315L30.3566 8L24.6997 13.6569C24.3092 14.0474 24.3092 14.6805 24.6997 15.0711C25.0903 15.4616 25.7234 15.4616 26.1139 15.0711L32.4779 8.70711ZM-8.74228e-08 9L31.7708 9L31.7708 7L8.74228e-08 7L-8.74228e-08 9Z" fill="#DAA666"/>
            </svg>

